@media (max-width: 800px) {
    #nav-bar #menu-items * {
        transform: scale(.7);
    }
}

@media (max-width: 600px) {
    .section-title {
        font-size: 2rem;
        margin: 0;
        width: 100%;
    }
}

@media (max-width: 400px) {
    .section-title {
        font-size: 1rem;
        margin: 0;
        width: 100%;
    }

    .btn {
        margin: .5rem;
        padding: .2rem;
        font-size: .7rem;
        min-height: 1rem;
        min-width: 1rem;
    }

    #nav-bar #menu-items * {
        transform: scale(1);
    }

    #nav-bar #menu-items .menu-item-row {
        flex-direction: column;
        margin: 0px;
    }

    #nav-bar #menu-items .menu-item {
        background-color: black;
        aspect-ratio: unset;
        width: 100%;
        max-width: 100%;
        margin: 1rem 0;
        flex-direction: row;
        font-size: 1rem;
        justify-content: start;
        border-radius: 0px;
    }

        #nav-bar #menu-items .menu-item i {
            font-size: 1rem;
            margin: 0px 1rem;
        }
}