
<div id="nav-bar">
    <div id="title-bar">
        <p id="title" class="noselect">Krympe</p>
        <i id="menu-button" class="fas fa-bars" title="Open Menu"></i>
    </div>
    <div id="menu-items">
        <div class="menu-item-row">
            <div class="menu-item active" id="home-menu">
                <i class="fas fa-house"></i>
                <p>Home</p>
            </div>
            <div class="menu-item" id="home-menu">
                <i class="fas fa-folder-tree"></i>
                <p>Directories</p>
            </div>
            <div class="menu-item" id="home-menu">
                <i class="fas fa-database"></i>
                <p>Database</p>
            </div>
        </div>
        <div class="menu-item-row">
            <div class="menu-item" id="home-menu">
                <i class="fas fa-cubes"></i>
                <p>Compression</p>
            </div>
            <div class="menu-item" id="home-menu">
                <i class="fas fa-server"></i>
                <p>Application</p>
            </div>
        </div>
    </div>
</div>